@import '../../styles/variables';
@import '../../styles/util/mixins';

.NextButton1 {
  display: flex;
  &.btn_center {
    justify-content: center;
  }

  &.btn_left {
    justify-content: flex-start;
  }

  &.btn_right {
    justify-content: flex-end;
  }

  &.spacing30 {
    margin: rem(30);
  }

  &.top30 {
    margin-top: rem(30);
  }

  &.top20 {
    margin-top: rem(20);
  }
  nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        --c: goldenrod;
        color: var(--c);
        font-size: 16px;
        border: 0.3em solid var(--c);
        border-radius: 0.5em;
        width: 12em;
        height: 3.4em;
        text-transform: uppercase;
        font-weight: bold;
        font-family: sans-serif;
        letter-spacing: 0.1em;
        text-align: center;
        line-height: 3em;
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: 0.5s;
        // margin: 1em;
        span {
          position: absolute;
          width: 25%;
          height: 100%;
          background-color: var(--c);
          transform: translateY(150%);
          border-radius: 50%;
          left: calc((var(--n) - 1) * 25%);
          transition: 0.5s;
          transition-delay: calc((var(--n) - 1) * 0.1s);
          z-index: -1;
          &:nth-child(1) {
            --n: 1;
          }
          &:nth-child(2) {
            --n: 2;
          }
          &:nth-child(3) {
            --n: 3;
          }
          &:nth-child(4) {
            --n: 4;
          }
        }
        &:hover {
          cursor: pointer;
          color: black;
          span {
            transform: translateY(0) scale(2);
          }
        }
      }
      .btnRound {
        border-radius: 5em;
      }
    }
  }
}
