@import '../../styles/variables';
@import '../../styles/util/mixins';

.main-button-container {
  display: flex;
  &.btn_center {
    justify-content: center;
  }
  &.btn_left {
    justify-content: flex-start;
  }
  &.btn_right {
    justify-content: flex-end;
  }
  &.spacing30 {
    margin: rem(30);
  }
  &.top30 {
    margin-top: rem(30);
  }
  &.top20 {
    margin-top: rem(20);
  }
  .mainButton {
    width: 180px;
    height: 50px;
    text-transform: uppercase;
    @include sm {
      font-size: 11px;
      width: 140px;
      height: 40px;
    }
  }
  .isGhostPrimary {
    @extend .mainButton;
    background: none;
    border-width: 2px;
    width: 120px;
  }

  button {
    &.active {
      background: $primary !important;
      color: #fff !important;
    }
  }
}
