@import '../../styles/variables';
@import '../../styles/util/mixins';

.NextButton5 {
  .wrapper {
    padding: 1.5rem 0;
    filter: url('#goo');
  }
  .button {
    display: inline-block;
    text-align: center;
    background: $white;
    color: #1a1e24;
    font-weight: bold;
    padding: 1.18em 1.12em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1.25rem;
    &:before {
      width: 4.4em;
      height: 2.95em;
      position: absolute;
      content: '';
      display: inline-block;
      background: $white;
      border-radius: 50%;
      transition: transform 1s ease;
      transform: scale(0);
      z-index: -1;
      top: -25%;
      left: 20%;
    }
    &:after {
      width: 4.4em;
      height: 2.95em;
      position: absolute;
      content: '';
      display: inline-block;
      background: $white;
      border-radius: 50%;
      transition: transform 1s ease;
      transform: scale(0);
      z-index: -1;
      bottom: -25%;
      right: 20%;
    }
    &:hover {
      &:before {
        transform: none;
      }
      &:after {
        transform: none;
      }
    }
  }
}
