.subscribe-email {
  &.cusCls {
    .ant-form-item-explain {
      color: white;
    }
  }
  .newsletter {
    padding: 20px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: white;
    transition: 0.5s;
    border-radius: 2px;
    border: none;
    input {
      margin-top: 15px;
      width: 100%;
      font-size: 12px;
      height: 39px;
      color: rgb(113, 113, 113);
      padding: 11px 15px;
      border-width: 1px;
      border-color: rgb(232, 231, 231);
      border-image: initial;
      outline: none;
      border: none;
    }
  }
  // :global {
  //   .ant-form-item-explain {
  //     line-height: 2.5715;
  //   }
  // }
}
