@import '../styles/main.scss';

.layout {
  padding: 2rem 0;
  @include lg {
    align-items: center;
    flex-direction: column;
  }

  .layout-content {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
